{# # Locations page template # ------------------- # # This template gets loaded
whenever the site's Locations page is requested, # because the "Locations"
single-entry section's Template setting is set to "Locations". # # An `entry`
variable will be automatically passed to this template, which will # be set to
the Locations entry. -#} {% extends "_layouts/site" %} {% block main %}
<div class="container">
  <h2>ACR Cares</h2>
  <div class="page-content page-content--half">
    <div>
      <p>ACR Cares mission is to “Honor God by showing His love and mercy to the ACR Family and our community through caring in everyday life”. Some of the ways we do this is by…</p>
      <p>Offering free “Ministry Pamphlets” to our customers at each of our locations.</p>
      <p>Providing a link on our web site that gives a clear gospel presentation called “The Story”.</p>
      <p>Encouraging our team members to “Volunteer Hours”  in their communities.</p>
      <p>Tracking “People Impacted” by all of our ministry initiatives.</p>
      <p>Philippians 2:4 says that we should “not merely look out for your own personal interests, but also for the interests of others”. This is the heart of why ACR Cares exist!</p>
    </div>
    <div>
      <div style="padding: 56.25% 0 0 0; position: relative;">
        <iframe
          src="https://player.vimeo.com/video/113794451"
          style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          "
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>
      </div>

  <div class="touchpoints">
    <h3>Our Influence</h3>
    <div class="touchpoints-grid">
      <div class="touchpoint">
        <h5>Pamphlets</h5>
        <span id="pamphletsTouchpoint"></span>
      </div>
      <div class="touchpoint">
        <h5>The Story</h5>
        <span id="theStoryTouchpoint"></span>
      </div>
      <div class="touchpoint">
        <h5>Volunteer Hours</h5>
        <span id="volunteerHoursTouchpoint"></span>
      </div>
      <div class="touchpoint">
        <h5>People Impacted</h5>
        <span id="volunteerPeopleImpactedTouchpoint"></span>
      </div>
    </div>
  </div>

      <p class="-mt10">
        <small
          >If you would like to support one of our many community outreach
          initiatives please click the link below. All donations are tax
          deductible.</small
        >
      </p>
      <a
        href="https://mygiving.secure.force.com/GXDonateNow?id=a0U0H00000Xs1wYUAR"
        class="button"
        >Donate now!</a
      >
    </div>
  </div>

  <div class="page-content page-content--half -mt60 -mb60">
    <div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/uUX_KidrhBI"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  {% if entry.acrCaresInitiatives %}
  <h3>ACR Cares Initiatives</h3>
  <div class="page-content page-content--half -mb30">
    {% for initiative in entry.acrCaresInitiatives.all() %}
    <div class="acr-cares-initiative">
      {% set image = initiative.initiativeImage.one() %} {% if image %}
      <img src="{{ image.url }}" height="75" />
      {% endif %}
      <h4>{{ initiative.initiativeTitle }}</h4>
      <p>{{ initiative.initiativeDescription }}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %} {% if entry.teamMemberInitiatives %}
  <h3>Team Member Initiatives</h3>
  <div class="page-content page-content--fourth -mb30">
    {% for initiative in entry.teamMemberInitiatives.all() %}
    <ul>
      <li class="-block -mb10">{{ initiative.initiativeTitle }}</li>
    </ul>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %} {% block foot %}
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="{{ siteUrl }}assets/dist/touchpoints.js"></script>
{% endblock %}
