{% extends "_layouts/site" %}

{% set pageTitle = "Month" %}
{% set page = "month" %}

{% block customHead %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ siteUrl }}assets/calendar/css/main.css" rel="stylesheet">
{% endblock %}

{% block main %}

    {# Acquire URL segments #}
    {% set baseUrlSegments = 1 %}
    {% set segment1 = craft.app.request.segment(baseUrlSegments + 1) %}
    {% set segment2 = craft.app.request.segment(baseUrlSegments + 2) %}
    {% set segment3 = craft.app.request.segment(baseUrlSegments + 3) %}
    {% set segment4 = craft.app.request.segment(baseUrlSegments + 4) %}
    {% set segment5 = craft.app.request.segment(baseUrlSegments + 5) %}

    {% set targetDate = "today" %}
    {% set calendarHandle = null %}
    {% if segment2 == "calendar" %}
        {% set calendarHandle = segment3 %}
        {% if segment4 %}
            {% set targetDate = segment4~"-"~segment5~"-01" %}
        {% endif %}
    {% elseif segment2 is not empty %}
        {% set targetDate = segment2~"-"~segment3~"-01" %}
    {% endif %}

    <div class="container container--calendar">
        <h2>Events</h2>
        <div class="month-calendar">
            <div>

                {% include "calendar/layouts/_calendar_banner.html" %}

                <div id="month_calendar">
                    {% set month = craft.calendar.month({
                            date: targetDate,
                            calendar: calendarHandle,
                        }) %}

                    <div class="row justify-content-between mb-3">
                        <div class="col-3">
                            <a class="button"
                                href="{{ siteUrl }}calendar/month/{{ segment2 == "calendar" ? "calendar/"~segment3~"/" }}{{ month.previousDate.format('Y/m') }}">
                                <span class="fas fa-arrow-left"></span> {{ month.previousDate.format('F') }}
                            </a>
                        </div>

                        <div class="col-auto">
                            {% include "calendar/layouts/_month_heading.html" with {month: month} only %}
                        </div>

                        <div class="col-3 clearfix text-right">
                            <a class="button"
                                href="{{ siteUrl }}calendar/month/{{ segment2 == "calendar" ? "calendar/"~segment3~"/" }}{{ month.nextDate.format('Y/m') }}">
                                {{ month.nextDate.format('F') }} <span class="fas fa-arrow-right"></span>
                            </a>
                        </div>
                    </div>

                    <table id="month_calendar_inner" class="table table-bordered">
                        <thead>
                            <tr id="days_of_week" class="active">
                                {% for day in month|first %}
                                <th class="day_of_week">
                                    {{ day.date.format('l') }}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for week in month %}
                            <tr>
                                {% for day in week %}
                                {% if month.containsDate(day.date) %}
                                <td class="day_cell{{ day.date.isToday ? " today" }}">
                                    <div class="date{{ day.eventCount ? " has_events" }}">
                                        <a class="num"
                                            href="{{ siteUrl }}calendar/day/{{ segment2 == 'calendar' ? "calendar/"~segment3~"/" }}{{ day.date.format('Y/m/d') }}">
                                            {{ day.date.format('j') }}
                                        </a>
                                    </div>
                                    {% else %}
                                <td class="day_cell out_of_range">
                                    <div class="date">
                                        <span class="num">
                                            {{ day.date.format('j') }}
                                        </span>
                                    </div>
                                    {% endif %}

                                    {% for event in day.events %}
                                    {% include "calendar/layouts/_event.html" %}
                                    {% endfor %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block foot %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{{ siteUrl }}assets/calendar/js/main.js"></script>
{% endblock %}
