{#
 # About page template
 # -------------------
 #
 # This template gets loaded whenever the site's About page is requested,
 # because the "About" single-entry section's Template setting is set to "about".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the About entry.
-#}

{% extends "_layouts/site" %}

{% block main %}
<div class="container container--small">
  <h2>{{ entry.title }}</h2>
  <iframe
    src="{{ entry.docusignLink }}"
    width="100%" height="800px">
  </iframe>
</div>
{% endblock %}