{#
 # About page template
 # -------------------
 #
 # This template gets loaded whenever the site's About page is requested,
 # because the "About" single-entry section's Template setting is set to "about".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the About entry.
-#}

{% extends "_layouts/site" %}

{% block main %}
	<div class="container container--small">
    <h2>Associates</h2>
    <p>Associates can find links below to their most used sites and applications for work.</p>
    <a title="PayCor" href="https://enterprise.paycor.com/Accounts/Authentication/Login">PayCor</a><br />
    <a title="Citrix Login" href="https://acrcloud.matrix-ibs.com/Citrix/ACRStoreWeb/">Remote Email</a><br />
    <a title="Benefits" href="https://login.fidelity.com/ftgw/Fidelity/NBPart/Login/Init?AuthRedUrl=https://workplaceservices200.fidelity.com/NBHome.html">Benefits</a><br />
    <a title="MasterCard Smart Data" href="https://sdg2.mastercard.com/sdportal/home.view?cobrandHost=sdng.mastercard.com">MasterCard Smart Data</a><br />
    <a href="http://www.acrsupply.com/profile-assessment/">Profile Assessment</a>
  </div>
{% endblock %}