{# # About page template # ------------------- # # This template gets loaded
whenever the site's About page is requested, # because the "About" single-entry
section's Template setting is set to "about". # # An `entry` variable will be
automatically passed to this template, which will # be set to the About entry.
-#} {% extends "_layouts/site" %} {% block main %}
<div class="container container--small">
  <h2>Associates</h2>
  <p>
    Associates can find links below to their most used sites and applications
    for work.
  </p>
  <div class="associate-links">
    <a
      title="ADP"
      href="https://online.adp.com/signin/v1/?APPID=WFNPortal&productId=80e309c3-7085-bae1-e053-3505430b5495&returnURL=https://workforcenow.adp.com/&callingAppId=WFN&TARGET=-SM-https://workforcenow.adp.com/theme/index.html"
      >ADP</a
    >
    <a title="Citrix Login" href="https://desktop.acrsupply.com/Citrix/ACRSWeb/"
      >Remote Email</a
    >
    <a
      title="401K"
      href="https://login.fidelity.com/ftgw/Fidelity/NBPart/Login/Init?AuthRedUrl=https://workplaceservices200.fidelity.com/NBHome.html"
      >401K</a
    >
    <a title="Benefits" href="https://clients.hcwbenefits.com/portal2/index.php"
      >Benefits</a
    >
    <a
      title="Visa IntelliLink"
      href="https://identity.intellilink.spendmanagement.visa.com/login?signin=c1f16f41f65b5b1795096417fdf9b7ec#/login"
      >Visa IntelliLink</a
    >
    <a href="/profile-assessment">Profile Assessment</a>
  </div>
</div>
{% endblock %}
