{#
 # About page template
 # -------------------
 #
 # This template gets loaded whenever the site's About page is requested,
 # because the "About" single-entry section's Template setting is set to "about".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the About entry.
-#}

{% extends "_layouts/site" %}

{% block main %}
	<div class="container container--small">
    <h2>E-Store Account Request Form</h2>
    <p>We aren’t quite ready to open up our online store to everyone, but we wanted to give you the opportunity to be one of our testers and to get a special promotion from us for signing up to be an exclusive member.</p>
    {{ craft.freeform.form("eStoreAccountRequestForm").render() }}
  </div>
{% endblock %}