{#
 # About page template
 # -------------------
 #
 # This template gets loaded whenever the site's About page is requested,
 # because the "About" single-entry section's Template setting is set to "about".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the About entry.
-#}

{% set applications = craft.entries()
  .section('accountApplications')
  .inReverse()
	.all() %}

{% extends "_layouts/site" %}

{% block main %}
	<div class="container container--small">
    <h2>Account Request Forms</h2>
    <p>Ready to start shopping with ACR Supply online and in the store? Fill out a credit or cash application to begin the process. All forms are electronically signed and will be automatically emailed to ACR Supply Co. upon completion.</p>

    <div class="application-forms">
      {% for application in applications %}
        <a class="button" href="{{ application.url }}">{{ application.title }}</a>
      {% endfor %}
    </div>

    <h3>Request an e-store account</h3>
    <p><strong>All E-Store accounts are eligible for a 2% discount!</strong> Minus Refrigerant/Gas and Copper</p>
    {{ craft.freeform.form("eStoreAccountRequestForm").render({
      class: 'acr-form'
    }) }}
  </div>
{% endblock %}