$black: #333333;
$gray: #cccccc;
$dark-gray: #5F5E5E;
$light-gray: #fafafa;
$blue: #276AA6;
$blue-hover: darken($blue, 10);
$blue-60: rgba(39, 106, 166, 0.6);
$red: #C22C25;
$red-60: rgba(194, 44, 37, 0.6);
$red-hover: darken($red, 10);