.-read {
  max-width: 70%;
}

.-block {
  display: block;
}

.-blue {
  color: $blue;
}

.-m0 {
  margin: 0;
}

.-mt10 {
  margin-top: 10px;
}

.-mb10 {
  margin-bottom: 10px;
}

.-mb30 {
  margin-bottom: 30px;
}

.-mt60 {
  margin-top: 60px;
}

.-mb60 {
  margin-bottom: 60px;
}