button,
input[type="submit"],
.button {
  background: $blue;
  border: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background $transition-duration $transition-timing;

  @include mediaQuery(tablet-and-up) {
    display: inline-block;
    width: auto;
  }

  &:hover {
    background: $blue-hover;
    color: white;
  }
}

.button--white {
  background: white;
  color: $blue;

  &:hover {
    background: darken(white, 10);
    color: $blue;
  }
}

.button--large {
  padding: 20px 30px;
}

.btn.btn-secondary {
  background: white;
  border: 1px solid $gray;
  font-size: 14px;
}

.dropdown-toggle::after {
  border-top: .3em solid $black !important;
}