.footer {
  padding: 60px 0;
}

.footer__container {

  @include mediaQuery(tablet-and-up) {
    align-items: center;
    display: flex;
  }
}

.footer-block {
  @include mediaQuery(tablet-and-up) {
    width: 30%;

    &:nth-child(2) {
      width: 70%;
    }
  }
}

.footer-tagline {
  color: $dark-gray;
  font-size: 14px;
  margin-top: 10px;
}

.footer-info-links ul,
.footer-info-links li {
  align-items: center;
  display: flex;
}

.footer-info-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-info-links img {
  height: 60px;
}

.footer-logo img {
  height: 40px;
}