.header {
  background: white;
  box-shadow: $box-shadow;
  padding: 15px 0;
}

.header__container {
  position: relative;

  @include mediaQuery(desktop-and-up) {
    align-items: center;
    display: flex;
  }
}

.header__logo {
  margin: 0;

  img {
    display: block;
    height: 40px;
  }
}