.locations-grid {
  @include mediaQuery(tablet-and-up) {
    @include flexContainer(30);

    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.location {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mediaQuery(tablet-and-up) {
    @include flexItem(30, 25%);
    margin-bottom: 0;
  }

  span {
    display: block;
    margin-bottom: 8px;
  }
}

#locations-map {
  height: 450px;
  margin-bottom: 30px;
  width: 100%;
}

.locations-number {
  border-radius: 3px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  margin-bottom: 30px;
}
