.menu {
  margin-left: auto;
}

.menu__list {
  @extend %clear-list;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  display: none;

  .menu--is-open & {
    visibility: visible;
    opacity: 1;
    display: block;

    @include mediaQuery(desktop-and-up) {
      display: flex;
    }
  }

  @include mediaQuery(desktop-and-up) {
    align-items: center;
    display: flex;
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }
}

.menu__list-item {
  margin-top: 15px;
  position: relative;

  @include mediaQuery(desktop-and-up) {
    margin-left: 20px;
    margin-top: 0;
  }

  &:hover {
    @include mediaQuery(desktop-and-up) {
      .menu__list {
        visibility: visible;
        opacity: 1;
        left: auto;
        padding-top: 27px;
        min-width: 200px;
        z-index: 1000;
      }
    }
  }

  &--has-children {
    @include mediaQuery(desktop-and-up) {
      &:hover {
        .menu__list {
          background: white;
          box-shadow: $box-shadow;
          display: block;
          margin: 0;
          opacity: 1;
          padding: 10px;
          position: absolute;
          visibility: visible;
        }

        .menu__list-item {
          margin-bottom: 15px;
          margin-left: 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .menu__list-item-button {
      background: transparent;
      padding: 15px;
      position: absolute;
      top: -15px;
      right: -15px;

      @include mediaQuery(desktop-and-up) {
        display: none;
      }

      > svg {
        display: block;
        fill: black;
        transition: all 0.2s ease-in-out;
      }
    }

    .menu__list {
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease;
      margin-left: 1rem;
      display: none;
    }
  }

  &--is-open {
    .menu__list {
      visibility: visible;
      opacity: 1;
      display: flex;
    }

    .menu__list-item-button > svg {
      transform: rotate(-0.5turn);
    }
  }
}

.menu__list-item-link {
  color: $black;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__button {
  position: absolute;
  right: 0;
  top: 0;

  @include mediaQuery(desktop-and-up) {
    display: none;
  }
}