.mission-corner-information {
  display: flex;
}

.mission-corner-image {
  flex: 1;
  margin-right: 24px;

  img {
    margin-top: 52px
  }
}

.mission-corner-description {
  flex: 2;
}

.mission-corner-updates {
  margin-top: 32px;
}

.mission-corner-update {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 20px -12px;
  border-radius: 6px;
  margin-bottom: 24px;
  padding: 16px 24px;
}