.page-content {
  box-sizing: border-box;

  @include mediaQuery(tablet-and-up) {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
  }

  > div {
    box-sizing: border-box;


    @include mediaQuery(tablet-and-up) {
      flex: 0 0 auto;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  &--half {
    > div {
      margin-bottom: 30px;

      @include mediaQuery(tablet-and-up) {
        flex-basis: 50%;
        max-width: 50%;
        margin-bottom: 0;
      }
    }
  }

  &--one-fourth {
    > div {
      margin-bottom: 30px;

      @include mediaQuery(tablet-and-up) {
        flex-basis: 25%;
        max-width: 25%;
        margin-bottom: 0;
      }
    }
  }
}